/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  /* font-family: var(--font-main); */
  /* font-variation-settings: "wght" var(--font-weight-normal); */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 371px;
  min-block-size: 100dvb;
  background-image: url(../images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: clamp(var(--header-min-width), 90vw, var(--header-max-width));
  min-height: clamp(323px, 90vw, 363px);
  margin-block-start: 100px;
  margin-block-end: 100px;
  background-color: var(--background-color-page);
  gap: clamp(12px, 3vw, 20px);
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 1);
  padding: (7.5rem, 7.1479rem + 1.5023vw, 8rem) 0
    clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
}

.header_logo {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header_text {
  font-family: var(--font-accent);
  font-weight: 400;
  /* пробую сделать резиновый размер шрифта) 
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem); */
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size-card_title);
}

.card-image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.lable {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.lable {
  text-shadow: 1px 1px 0.5px rgb(255, 255, 255, 0.5);
 }

@supports (
  (text-stroke: 1px rgb(255, 255, 255, 0.5)) or
    (-webkit-text-stroke: 1px rgb(255, 255, 255, 0.5))
) {
  .lable {
    -webkit-text-stroke: 1px rgb(255, 255, 255, 0.5);
    text-stroke: 1px rgb(255, 255, 255, 0.5);
    text-shadow: none;
  }
}

.section {
  background-color: var(--background-color-page);
  border: 2px solid black;
  max-width: clamp(var(--header-min-width), 90vw, var(--header-max-width));
  margin-block-end: 52px;
}

.decor-lable {
  position: relative;
}

.card-text_title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-card_title);
  /* padding-block-start: 4px; */
  padding-block-end: 6px;
  padding-inline: 10px;
  text-wrap: wrap;
}

.card-text {
  display: flex;
  flex-direction: column;
  margin-block: 25px;
  margin-inline: 25px;
  gap: 25px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-accent);
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding-block: 8px;
  border: 2px solid black;
}

.card__icon-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: end;
  width: 169px;
  height: 38px;
  border: none;
  background-color: #fff;
  padding: 0px;
  gap: 6px;
}

.like-icon {
  width: 25px;
  height: 25px;
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-accent);
  font-size: 14px;
  border: 2px solid black;
}

.button_save {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-accent);
  font-size: 14px;
  background-color: var(--background-color-page);
  width: 335px;
  height: 55px;
}

.footer {
  margin-block-end: 100px;
}
