/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  /* font-family: var(--font-main); */
  /* font-variation-settings: "wght" var(--font-weight-normal); */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 371px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Фон не скроллится отдельно */
  min-height: 100vh; /* Занимает минимум высоту экрана */
}

dialog {
  font-family: var(--font-accent);
  padding: 0;
  border: none;
  border-radius: 8px;
  background-color: var(--background-color-page);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  max-width: 500px;
  width: 90vw;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  max-width: 353px; /* Ширина согласно изображению */
  width: 90vw; /* Адаптивность для мобильных устройств */
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  transition: opacity 0.3s ease;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

dialog button {
  border: none;
  background-color: inherit;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: clamp(var(--header-min-width), 90vw, var(--header-max-width));
  min-height: clamp(323px, 90vw, 363px);
  margin-block-start: 100px;
  margin-block-end: 100px;
  background-color: var(--background-color-page);
  gap: clamp(12px, 3vw, 20px);
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 1);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0;
}

.header_logo {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header_text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: clamp(14px, 2.5vw + 1rem, 23px);
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
}

.card-image {
  inline-size: clamp(371px, 700px, 100%);
  object-fit: cover;
  aspect-ratio: 1/1;
}

.card-image_0sprint {
  filter: grayscale(100%);
}

.card-image_1sprintnull {
  filter: blur(7px);
}

.card-image_1sprintif {
  filter: sepia(20%);
}

.card-image_2sprintideal {
  filter: saturate(45%);
}

.card-image_2sprintnear {
  filter: invert(100%);
}

.card-image_3sprintstrateg {
  filter: contrast(75%);
}

.card-image_3sprinthands {
  filter: hue-rotate(323deg);
}
.card-image_imhere {
  filter: brightness(5) blur(1px);
}

.lable {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  color: rgb(0, 0, 0, 0.5);
  z-index: 1;
  text-shadow: 1px 1px 0.5px rgb(255, 255, 255, 0.5);
}

@supports (
  (text-stroke: 1px rgb(255, 255, 255, 0.5)) or
    (-webkit-text-stroke: 1px rgb(255, 255, 255, 0.5))
) {
  .lable {
    -webkit-text-stroke: 1px rgb(255, 255, 255, 0.5);
    text-stroke: 1px rgb(255, 255, 255, 0.5);
    text-shadow: none;
  }
}

.section {
  background-color: var(--background-color-page);
  border: 2px solid black;
  max-width: clamp(var(--header-min-width), 90vw, var(--header-max-width));
  margin-block-end: 52px;
}

.decor-lable {
  position: relative;
  aspect-ratio: 1 / 1;
  height: 100%;
}

.card-text_title {
  font-variation-settings: "wght" var(--font-weight-bold);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-card_title);
  /* padding-block-start: 4px; */
  padding-block-end: 6px;
  padding-inline: 10px;
  text-wrap: wrap;
  border-block-end: 2px solid black;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-accent);
  font-size: 14px;
  height: 100%;
  width: 100%;
  padding-block: 8px;
  background-color: inherit;
  cursor: pointer;
  position: relative; /* важно для позиционирования псевдоэлемента */
  overflow: hidden; /* обрезаем то, что выходит за границы кнопки */
}

.card__like-button:focus {
  outline: none; /* Отменяем стандартную обводку */
  box-shadow: 2px 2px 0px black; /* Тень сдвинута на 2px по X и Y, без размытия */
  transition: box-shadow 0.3s ease-in-out; /* Плавность изменения тени */
}

.card__icon-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: end;
  height: 38px;
  border: none;
  background-color: #fff;
  padding: 0px;
  gap: 6px;
  cursor: pointer;
  /* transition: border-color 0.3s ease-in-out;
  border: 2px solid transparent; */
}

.card__icon-button:focus {
  outline: none; /* Отменяем стандартный фокус */
}

.card__icon-button:focus-visible {
  border-color: black; /* Акцентный цвет обводки */
}

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0%;
}
/* Базовые стили */
.like-icon:focus {
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  max-height: 38px;
  border: 2px solid black;
  border-radius: 0%;
}

.double_button {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  gap: 12px;
  align-items: center;
}

.button {
  background-color: transparent;
  font-family: PressStart2P, fantasy, sans-serif;
  border: 2px solid black;
  padding: 10px 0;
  min-inline-size: 130px;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-text);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-accent);
  font-size: 14px;
  color: #fff;
  mix-blend-mode: difference;
}

.button_save {
  display: flex;
  /* padding: 15px 20px 14px; */
  margin: auto;
  background-color: white;
  gap: 9px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 19px;
  gap: 10px;
  width: 100%;
}

.icon-floppy {
  color: white;
  flex-shrink: 0;
}

/* Чтобы текст был поверх анимированного фона */
.card__like-button .button__text {
  position: relative;
  z-index: 1;
}

.button_save .button__text {
  position: relative;
  z-index: 1;
}

.footer {
  margin-block-end: 100px;
  z-index: 1;
}
